<body id="page-top">
  <app-header></app-header>
   
  
    <div id="wrapper">
  
      <!-- Sidebar -->
      <app-side-bar></app-side-bar>
  
      
      <!-- /.content-wrapper -->
      <div id="content-wrapper">
 
        <div class="container-fluid">
      
          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
          </ol>
      
          <!-- Icon Cards-->
          
      
          <!-- Area Chart Example-->
          
      
          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Data Table Example</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nom aeroport</th>
                      <th>Lieu</th>
                      <th>Distance</th>
                      <th>Nombre Place totale</th>
                      <th>Nombre place diponible</th>
                      <th>Prix par jour</th>                      
                      <th>Actions</th>
                      
                    </tr>
                  </thead>
                   
      <tr *ngFor="let item of parkings | async">
        
        <td>{{item.key}}</td>
        <td>{{item.Lieu}}</td>
        <td>{{item.Distance}}</td>
        <td>{{item.nbrPlace}}</td>
        <td>{{item.placeDispo}}</td>
        <td>{{item.prixJr}}</td>
        <td>
          <div class="btn-group">
              <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/admin/modifier-parking/{{item.key}}">Modifier</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="deleteParking(item.key)">Supprimer</a>
              </div>
          
            </div>

            
      </td >
        
      </tr>
                 
                  <tbody>
                    
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
      
        </div>
        <!-- /.container-fluid -->
      
        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2019</span>
            </div>
          </div>
        </footer>
      
      </div>
      
    </div>
    <!-- /#wrapper -->
  
    <!-- Scroll to Top Button-->
    
    <!-- Logout Modal-->
    
    
  
  </body>
  
